body {
  background-color: #626869;
}

.imagePreview {
  position: relative;
}

.imagePreview img {
  width: 100%;
}

#topText{
  position: absolute;
  top: 2%;
  right: 0%;
  left: 0%;
  font-size: 24pt;
  color: white;
  overflow-wrap: break-word;
}

#bottomText{
  position: absolute;
  bottom: 2%;
  right: 0%;
  left: 0%;
  font-size: 24pt;
  color: white;
  overflow-wrap: break-word;
}


