body {
  background-color: #626869;
  color: white;
}

.imagePreview {
  position: relative;
  display: inline-block;
  overflow: hidden;
  max-width: 500px;
  max-height: 500px;
}

.imagePreview img {
  max-width: 500px;
  max-height: 500px;
}

.textForm {
  max-width: 500px;
  max-height: 500px;
}

#heading h1{
  padding-top: 2%;
  padding-bottom: 2%;
}

@media only screen and (max-width: 576px) {
  #topText, #bottomText {
    font-size: 22pt;
  }

  #heading h1 {
    font-size: 24pt;
  }

  .imagePreview img {
    max-width: 100%;
    max-height: 100%;
  }
}

@media only screen and (min-width: 576px) {
  #topText, #bottomText {
    font-size: 24pt;
  }

  #heading h1 {
    font-size: 32pt;
  }

  .imagePreview img {
    max-width: 100%;
    max-height: 100%;
  }
}

@media only screen and (min-width: 768px) {
  #topText, #bottomText {
    font-size: 28pt;
  }

  #heading h1 {
    font-size: 40pt;
  }

  .imagePreview img {
    max-width: 100%;
    max-height: 100%;
  }

  .inner{
    display: flex;
    align-items: center;
  }

  .textForm {
    padding-left: 5%;
  }
}

@media only screen and (min-width: 992px) {
  #topText, #bottomText {
    font-size: 32pt;
  }

  #heading h1 {
    font-size: 48pt;
  }

  .inner{
    display: flex;
    align-items: center;
  }

  .textForm {
    padding-left: 5%;
  }

  .imagePreview img {
    max-width: 100%;
    max-height: 100%;
  }
}

#topText, #bottomText {
  position: absolute;
  right: 0%;
  left: 0%;
  color: white;
  overflow-wrap: break-word;
  /* text outline: */
  text-shadow: -1px -1px 0 #000,
                1px -1px 0 #000,
               -1px  1px 0 #000,
                1px  1px 0 #000
}

/* margins: */
#bottomText {
  bottom: 2%;
}
#topText {
  top: 2%;
}


