body {
  background-color: #626869;
}

.imagePreview {
  position: relative;
}

.imagePreview img {
  width: 100%;
}

#topText, #bottomText {
  position: absolute;
  right: 0%;
  left: 0%;
  font-size: 24pt;
  color: white;
  overflow-wrap: break-word;
}

#bottomText {
  bottom: 2%;
}

#topText {
  top: 2%;
}


